<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>ListBox Change Api</title>
<link rel="stylesheet" type="text/css" href="../lib/commonStyle.css">
<script src="../lib/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js"></script>
</head>
<body class="plr5">
    <div id="content">
    	<div class="menu">
			<button @click="changeTarget('menu')" :class="{'non-target':lastTarget!='menu'}">M</button>
			<div class="content" v-show="lastTarget=='menu'">
				<button @click="changeDestiny()">C</button>
				<button @click="reDestiny()">R</button>
				<button @click="judgeDestiny()">J</button>
				<button @click="openBar('skill')">S</button>
				<ul class="process">
					<li key="HP">
						<transition name="status-bar" :duration="500">
							<div class="percent" :style="{width:visableStatus.HP * 100 / MaxHP +'%','background-color': 'rgba(205, 188, 182, '+(visableStatus.HP / MaxHP /2+0.5)+')'}">
								<span>
									HP:{{visableStatus.HP.toFixed(0)}}/{{MaxHP}}
								</span>
							</div>
						</transition>
					</li>
					<li key="LP">
						<transition name="status-bar" :duration="500">
							<div class="percent" :style="{width:visableStatus.LP * 100 / MaxLP +'%','background-color': 'rgba(175, 208, 172, '+(visableStatus.LP / MaxLP /2+0.5)+')'}">
								<span>
									LP:{{visableStatus.LP.toFixed(0)}}/{{MaxLP}}
								</span>
							</div>
						</transition>
					</li>
					<li v-for="(value, key) in visableStatus.baseStates" :key="key" v-if="key!='_gsTweenID'">
						<div class="percent" :style="{width:value *4 +'%','background-color': 'rgba(0, 188, 212, '+ value*0.4+')'}">
							<span>
								{{key}}:{{value.toFixed(0)}}
							</span>
						</div>
					</li>
				</ul>
				<div>Log Template
					<textarea rows="100" readonly="readOnly" disabled="disabled" v-html="log"></textarea>
				</div>
			</div>
		</div>
		<div class="footer">This page made with Vue.js</div>
	</div>
</body>
<script src="lib/main.js"></script>
</html>
