div.mid {
    margin: auto;
    display: block;
    text-align: center;
}

div.mid p {
    text-shadow: 0.02em 0.05em 0.05em #ff5722af;
}

canvas#qrcode {
    margin: auto;
    display: block;
    padding: 0.2em;
    border: 0.3em #8bc34a solid;
    border-radius: 5%;
}