<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>Resume</title>
<link rel="stylesheet" type="text/css" href="../lib/commonStyle.css">
<link rel="stylesheet" type="text/css" href="lib/stylesheet.css">
<script src="../lib/vue.js"></script>
</head>
<body class="plr5">
    <div class="title-bar">
        <p class="name"><span>{{firstName}}</span>&nbsp;<span>{{lastName}}</span></p>
        <div class="info">
            <span class="mobile">Phone:	(+86){{telephone}}</span>
            <span class="email">Mail:	<a :href="'mailto:'+mailAdress">{{mailAdress}}</a></span>
            <a class="repository" @click="openLink"><span>My repository:  {{githubLink}}</span><svg height="32" viewBox="0 0 16 16" version="1.1" width="32"><path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path></svg></a>
        </div>
    </div>
    <div id="content">
		<div class="block">
			<div class="page">
				<div class="summary">
					<h3>{{summary.title}}</h3>
					<p v-html="summary.text"></p>
				</div>
				<div class="highlights">
					<h3>{{highlights.title}}</h3>
					<div>
						<ul class="left-block" type="disc">
						  <li v-for="item in highlights.list.filter((a,b)=>!(b%2))">{{item}}</li>
						</ul>
						<ul type="disc">
						  <li v-for="item in highlights.list.filter((a,b)=>(b%2))">{{item}}</li>
						</ul>
					</div>
				</div>
				<div class="skill">
					<h3>{{skill.title}}</h3>
					<div>
						<div class="skill-list-box">
							<transition-group name="skill-list" tag="ul" class="left-block">
								<li v-if="skill.target" @click="setTarget()" :key="'back'">
									<div class="percent"><span>Back to Menu</span></div>
								</li>
								<li v-for="(skillValue, skillKey, index) in targetSkillListLeft" :key="skillKey" @click="!skill.target?setTarget(skillKey):setShowTarget(skillKey)">
									<div>
										<div v-if="index%2!==0" class="percent" :style="{width:skillValue.level+'%','background-color': 'rgba(205, 220, 57,0.'+skillValue.level*8+')'}">
											<span>
												{{skillKey}}
											</span>
										</div>
										<div v-else class="percent" :style="{width:skillValue.level+'%','background-color': 'rgba(0, 188, 212,0.'+skillValue.level*8+')'}">
											<span>
												{{skillKey}}
											</span>
										</div>
									</div>
								</li>
								<li v-if="!skill.target" @click="changeSort()" :key="'sort'">
									<div class="percent"><span>Sort Mode: {{!skill.sort?'Default':skill.sort}}</span></div>
								</li>
							</transition-group>
							<transition-group name="skill-list-keyword" tag="ul">
								<li v-for="(keywordValue, keywordKey, index) in targetSkillListRight"
									:key="keywordValue">{{keywordValue}}
								</li>
							</transition-group>
						</div>
					</div>
				</div>
			</div>
		</div>
		<transition-group name="page-window" tag="div" class="block">
			<div class="page" v-for="curpage in pages.page" :key="curpage.index" v-show="pages.target===curpage.index">
				<div v-for="content in curpage.contents" :class="content.type">
					<h3>{{content.title}}</h3>
					<div v-if="content.type==='experience'">
						<div class="case" v-for="item in content.cases" v-if="item.key>=curpage.visible.experience[0]&&item.key<curpage.visible.experience[1]">
							<h4 class="left-block">{{item.job}}</h4>
							<h5>{{item.startDate}} to {{item.endDate?item.endDate:'Current'}}</h5><br />
							<h5 class="company">{{item.company}}</h5>
							<div class="something">
								<ul type="disc">
									<li v-for="project in item.projects">
								  		<h5 class="left-block">Project:{{project.name}}</h5>
								  		<h5><span v-for="(tec,tecName) in project.technic">{{tecName}}:{{tec}}</span></h5>
										<p class="detail">
											<span v-html="project.detail"></span>
										</p>
										<ul type="circle">
											<li v-for="point in project.highlights"><p v-html="point"></p></li>
										</ul>
									</li>
									
								</ul>
							</div>
						</div>
					</div>
					<div v-else-if="content.type==='work'">
						<div class="case" v-for="item in content.works" v-if="item.key>=curpage.visible.work[0]&&item.key<curpage.visible.work[1]">
							<button v-if="item.URL" @click="openLink(item.URL)">Try it!</button>
							<h4 class="left-block">Personal {{item.type?item.type+' ':''}}project:{{item.name}}</h4>
							<h5><a @click="openLink(item.link,item.linkType)">Source repository on {{item.linkType}}</a></h5><br />
							<p class="keyword">{{item.keyword}}</p>
							<p class="detail">
								<span v-html="item.detail"></span>
							</p>
						</div>
					</div>
				</div>
				<div class="buttons">
	  				<a v-if="pages.target<pages.page['length']-1"
	  					@click="pages.target++"
	  					class="next">Next Page</a>
	  				<a v-if="pages.target>0"
	  					@click="pages.target--"
	  					class="previous">Prev Page</a>
				</div>
			</div>
		</transition-group>
		<div class="footer">This page made with Vue.js</div>
	</div>
</body>
<script src="lib/main.js"></script>
</html>
